{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-default">Envoyer</button>
    {{ form_end(form) }}

    <table class="table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Publié ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.published }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}