<div class="card flex-md-row box-shadow">
    <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-success">{{ post.category }}</strong>
        <h3 class="mb-0">
            <a class="text-dark" href="{{ path('resource_post', {'slug': post.slug }) }}" target="_self">{{ post.title }}</a>
        </h3>
        <div class="mb-1 text-muted">{{ post.createdAt|date("F jS Y	\\a\\t g:i A") }}</div>
        <p class="card-text mb-auto text-left">{{ post.content|length > 150 ? post.content|slice(0, 100) ~ '...' : post.content }}</p>
        <br>
        <a class="learn-more" href="{{ path('resource_post', {'slug': post.slug }) }}" target="_self">Learn more</a>
    </div>
</div>

